/* FORCE IMAGE SIZE */

img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

/* MOBILE */

@media (max-width: 600px) {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
/* FORCE IMAGE SIZE */

img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

/* MOBILE */

@media (max-width: 600px) {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
